attrs==19.3.0
audio-metadata==0.11.1
autopep8==1.5.5
bidict==0.21.2
bitstruct==8.11.1
certifi==2020.12.5
chardet==4.0.0
decorator==4.4.2
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
more-itertools==8.7.0
moviepy==1.0.3
music-tag==0.4.2
mutagen==1.45.1
numpy==1.20.1
pendulum==2.1.2
Pillow==8.1.1
pprintpp==0.4.0
proglog==0.1.9
pycodestyle==2.6.0
PyQt5==5.15.3
PyQt5-Qt==5.15.2
PyQt5-sip==12.8.1
python-dateutil==2.8.1
pytube==10.5.1
pytzdata==2020.1
requests==2.25.1
six==1.15.0
tbm-utils==2.6.0
toml==0.10.2
tqdm==4.58.0
typing-extensions==3.7.4.3
urllib3==1.26.3
wrapt==1.12.1
